.imgsize
{
    width: 250px;
    height: 200px;
    margin-left: 20%;
    margin-top: 10px;
}

.center
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 95px;
}

.quantity
{
    display: flex;
}

.q{
    margin-left: 150px;
}

@media screen and (max-width:450px) {
    .center
    {
        width: 450px;
        padding: 20px;
    }
}