
.apply
{
    background: hsla(0, 0%, 100%, 0.55);
    backdrop-filter: blur(30px);
}

.all
{
    margin-top: 50px;
    margin-left: 200px;
}

.image
{
    height: 630px;
    width: 300px;
}

@media screen and (max-width:450px) {
    .sign
    {
        display: flex;
        justify-content: center;
        align-items: center;  
        width: 644px;
        margin-left: -194px;
    }
    .image
    {
        visibility: hidden;
        display: none;
    }
}

@media (min-width:451px) and (max-width:990px) {
    .sign
    {
        width: fit-content;
        margin-left: -185px;
    }
}